
   
    .MusicPlayer {
     font-family: 'Rubik', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 20px; 
   }
   
   .MusicPlayer h1 {
     font-size: 36px;
     margin-bottom: 0;
   }

   .MusicPlayer .card {
        width: 100%;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-width: 371px; */
        /* padding: 0 5px; */
        margin-top: 40px;
        border-radius: 20px;
        color: rgb(224, 224, 224);
        font-weight: 100;
        box-shadow: 0px 0px 70px 0px #322964;
        background-color:  #322964;
        /* background: #071739; */
        overflow: hidden;
    }

   .MusicPlayer .card .current-song {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px 0px;
     color: #8096c5;
   }



   .MusicPlayer .card .current-song .img-wrap {
     position: relative;
     margin: 0 auto;
     overflow: hidden;
     border-radius: 0px;
     
     box-shadow: 0px 10px 40px 0px rgba(39, 70, 132, .7);
   }

   .MusicPlayer .card .current-song .img-wrap img {
     width: auto;
     height: 100%;
   }

   .MusicPlayer .card .current-song .song-name {
     margin-top: 30px;
     font-size: 22px;
   }

   .MusicPlayer .card .current-song #timeline:hover .hover-playhead {
     opacity: 1;
   }

   .MusicPlayer .card .current-song #timeline:hover .hover-playhead::before {
     opacity: 1;
   }

   .MusicPlayer .card .current-song #timeline:hover .hover-playhead::after {
     opacity: 1;
   }

   .MusicPlayer .card .current-song #timeline #playhead {
     position: relative;
     z-index: 2;
     width: 0;
     height: 5px;
     border-radius: 5px;
     background: #071739;
   }

   .MusicPlayer .card .current-song #timeline .hover-playhead {
     position: absolute;
     z-index: 1;
     top: 0;
     width: 0;
     height: 5px;
     opacity: 0;
     border-radius: 5px;
     background: #274684;
     transition: opacity 0.3s;
   }

   .MusicPlayer .card .current-song #timeline .hover-playhead::before {
     opacity: 0;
     content: attr(data-content);
     display: block;
     position: absolute;
     top: -30px;
     right: -23px;
     width: 40px;
     padding: 3px;
     text-align: center;
     color: white;
     background: #274684;
     border-radius: calc(20px - 12px);
   }

   .MusicPlayer .card .current-song #timeline .hover-playhead::after {
     opacity: 0;
     content: '';
     display: block;
     position: absolute;
     top: -8px;
     right: -8px;
     border-top: 8px solid #274684;
     border-left: 8px solid transparent;
     border-right: 8px solid transparent;
   }


   
   .MusicPlayer .card .play-list {
     display: flex;
     flex-direction: column;
     padding: 10px;
     height: 180px;
     overflow-y: scroll;
   }
   .MusicPlayer .card .play-list .track {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     border-radius: calc(20px - 10px);
     border: 1px solid transparent;
     transition: 0.3s;
     cursor: pointer;
   }
   .MusicPlayer .card .play-list .track:hover {
     background: #274684;
     border-color: #274684;
     position: relative;
   }
   .MusicPlayer .card .play-list .track.current-audio {
     background: #274684;
     box-shadow: 0px 0px 15px 0px #274684;
   }
   .MusicPlayer .card .play-list .track.play-now {
     background: #274684;
     box-shadow: 0px 0px 15px 0px #274684;
     position: relative;
   }
  
 
   .MusicPlayer .card .play-list .track.play-now .track-img {
     filter: opacity(70%);
   }
   .MusicPlayer .card .play-list .track .track-img {
     width: 90px;
     border-radius: calc(20px - 10px);
   }
   .MusicPlayer .card .play-list .track .track-discr {
     margin-left: 15px;
     display: flex;
     flex-direction: column;
     min-width: 190px;
   }
   .MusicPlayer .card .play-list .track .track-discr .track-name {
     font-size: 17px;
     margin-top: 8px;
   }
   .MusicPlayer .card .play-list .track .track-discr .track-author {
     margin-top: 8px;
     font-weight: 300;
     color: #709fdc;
   }
   .MusicPlayer .card .play-list .track .track-duration {
     min-width: 40px;
     margin-left: 10px;
     margin-right: 10px;
     font-weight: 500;
   }
   /* .fa-instagram {
     position: absolute;
     color: #071739;
     top: 3%;
     right: 2%;
     font-size: 38px;
   }
   .fa-instagram:hover {
     font-size: 42px;
     color: #fff;
     transition: all 0.1s linear;
     cursor: pointer;
   } */
   .play-list::-webkit-scrollbar {
     width: 5px;
   }
   .play-list::-webkit-scrollbar-thumb {
     background: #fff;
     border-radius: 5px;
   }
   .play-list::-webkit-scrollbar-track {
     background: #071739;
   }
   @keyframes play {
     0% {
       transform: rotate(0deg);
    }
     100% {
       transform: rotate(360deg);
    }
   }
   