.App {
    text-align: center;
    background-color: #282c34;
    width: auto;
    /* margin-left: 1em;
    margin-right: 1em; */
  }

  body{
    background-color: #282c34;
  }
/*----------HOME-----------------------------------------------------------------*/
  .Home {
    text-align: center;
    display: block;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    /* max-width: 700px !important;
    line-height: 1.5; */
  }

  .TitleContainer {
    position: relative;
    text-align: center;
    color: white;
  }

  .TitleText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .HomeImage {
    width: 100%;
    height:400px;
    object-fit: cover;

  }

  .ui.placeholder.segment {
    background-color: #282c34;

  }
/*----------3D WINDOW----------------------------------------------------------*/
  #my-canvas {
    width: 90%;
    height:400px;
    touch-action:none;
    margin-bottom: 3em;;
  }


  .Main {
    background-color: rgb(252, 233, 208);
  }


  .ui.menu {
    background-color: rgb(252, 246, 238);
    /* position: fixed; */
    top: 0;
    width: 100%;
  }


  .ui.bottom.attached.segment {
    background-color: rgb(255, 214, 137);
    color: white;
  }

  .GoalCard {
    color: rgb(31, 31, 31);
    text-align: left; 
  }



/*   
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  } */
  
  /* @media (prefers-reduced-motion: no-preference) {
    .ui.centered.circular.image {
      animation: Logo-spin infinite 5s ease-in-out;
    }
  }
  @keyframes Logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  } */
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  

  